.background{
    float: left;
    background-color: #fafafa;
    text-align: left;
    width: 100%;
    padding: 2%;
}

.btn-info{
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    padding: 1%;    
}